<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3" style="font-family:cursive;">
      <h1 class="text-center" >Minhas Tarefas</h1>
      <p class="text-center lead">Suas tarefas estão registradas abaixo</p>

      <%- include('includes/messages')  %>

      <% if(tasks.length > 0) { %>
        <div class="responsive-table">
          <table class="table my-3">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Disciplina</th>
                <th>Email do Professor</th>
                <th>Descrição</th>
                <th>Data</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% tasks.forEach(task => { %>
                <tr>
                  <td><%= task.name %></td>
                  <td><%= task.discipline %></td>
                  <td><%= task.emailTeacher %></td>
                  <td><%= task.description %></td>
                  <td><%= task.dateLimit %></td>
                  <td><a href="/task/homePage/<%= task.id %>">Editar</a></td>
                  <td><a class="text-danger" href="/task/delete/<%= task.id %>">Excluir</a></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <p class="text-center lead">Você ainda não possui tarefas cadastradas na sua lista</p>
      <% } %>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
