<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Acessar tarefas</h1>
      <p class="text-center lead">Faça seu login ou crie sua conta para acessar sua lista de tarefas</p>

      <%- include('includes/messages'); %>

      <div class="row">

        <div class="col-lg my-3">
          <h4>Realize seu cadastro</h4>
          <p>Caso não possua conta, preencha com seu email e senha abaixo!</p>

          <form class="form-register" action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>

            <div class="form-group">
              <label>Seu nome:</label>
              <input type="text" class="form-control" placeholder="Digite seu nome" name="nameUser">
            </div>

            <div class="form-group">
              <label>Email:</label>
              <input type="email" class="form-control" placeholder="Digite seu email" name="email">
            </div>

            <div class="form-group">
              <label>Senha:</label>
              <input type="password" class="form-control" placeholder="crie sua senha" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Criar conta</button>
          </form>
        </div>

        <div class="col-lg my-3">
          <h4>Entre na sua conta</h4>
          <p>Caso já possua conta, entre com seu login!</p>

          <form class="form-login" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>

            <div class="form-group">
              <label>Email:</label>
              <input type="email" class="form-control" placeholder="Entre com seu email" name="email">
            </div>

            <div class="form-group">
              <label>Senha:</label>
              <input type="password" class="form-control" placeholder="Entre com sua senha" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>

      </div>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
